<div class="panel panel-default"
     style="width: 90%;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top:20px;">

  <div id="layers" class="panel-body">

    <button type="button" 
	    id="newAnnotation" 
	    title="Create new Annotation"
	    data-container="body"
	    class="btn btn-default annoButton">
      New
    </button> 
   
    <button type="button" 
	    id="loadAnnoFile" 
	    title="Load an Annotation JSON file"
	    data-container="body"
	    class="btn btn-default annoButton">
      Load
    </button>     
    
    <button type="button" 
	    id="importAnnoFile" 
	    title="Import an Annotation JSON file"
	    data-container="body"
	    class="btn btn-default annoButton">
      Import
    </button> 
    
    <button type="button" 
	    id="saveAnnoFile" 
	    title="Download current Annotations as JSON file"
	    data-container="body"
	    class="btn btn-default annoButton">
      Save
    </button>


    <!-- HIDDEN FILE PICKER -->
    <input type="file" name="xmlInput" id="xmlInput">
    
    <!-- HIDDEN DOWNLOAD LINK -->
    <a download="annotation.json" id="downloadlink" style="display: none">Download</a>

  </div>

  <div class="panel-footer">
    
    <ul class="list-group" id="annolayerList"></ul>

  </div>

</div>

