
<input type="checkbox" id="annoVisible" checked>

<!-- LABEL TEXT -->
<input type="text" id="labelInput" value="labelText"
       style="width:130px;">


<!-- COLOR PICKER -->


<!--<input type="text" id="colorpicker-popup" value="fe9810"> -->
<!--<span class="colorpicker-popup" style="display: inline-block; vertical-align: top;"></span> -->

<!--<div class="color-box"></div>-->
<input type="text" class="color-box" readonly>

<!-- DELETE BUTTON -->
<button type="button"
	class="btn btn-default btn-sm"
        id="delete">
  <span class="glyphicon glyphicon-trash"></span>
</button>




