<div class="panel panel-default"
     style="width: 90%;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top:20px;">


  <div class="panel-footer">
    <ul class="list-group" id="levelsPanel">

    
      <button type="button" class="btn btn-default annoButton">New</button> 
      <button type="button" id="loadAnnoFile" class="btn btn-default annoButton">Load</button>      
      <button type="button" id="saveAnnoFile" class="btn btn-default annoButton">Save</button>


      <!-- HIDDEN FILE PICKER -->
      <input type="file" name="xmlInput" id="xmlInput">
	
      <!-- HIDDEN DOWNLOAD LINK -->
      <a download="annotation.json" id="downloadlink" style="display: none">Download</a>


    </ul>
    <ul class="list-group" id="annolayerList"></ul>

  </div>

</div>

