<!-- TOPBAR -->
<div id= <%= topbarId %> class="topbar">

  <div class="btn-group">
    <button type="button" 
	    id="ThreeDtoggle" 
	    title="Set 3D Camera"
	    data-container="body"
	    class="btn mode-btn btn-xs ">3D</button>

    <button type="button" 
	    id="Xtoggle" 
	    title="Set X Camera"
	    data-container="body"
	    class="btn mode-btn btn-xs ">X</button>

    <button type="button" 
	    id="Ytoggle"
	    title="Set Y Camera"
	    data-container="body"
	    class="btn mode-btn btn-xs ">Y</button>

    <button type="button" 
	    id="Ztoggle" 
	    title="Set Z Camera"
	    data-container="body"
	    class="btn mode-btn btn-xs ">Z</button>
  </div>



  <div style="float:right;margin-right:10px">
    <input type="checkbox" id="volumeRender"
	   title="Toggle Volume Rendering">
    </input>
    Volume Rendering
  </div>

</div>


<!-- CANVAS -->
<canvas id= <%= canvasViewerId %>
	class="viewerCanvas"
	width="650"
	height="162"
	tabindex= "1">
</canvas>



