<!-- TOPBAR -->
<div id="topbar" class="topbar">

  <div class="btn-group">
    <button type="button" id="ThreeDtoggle" class="btn mode-btn btn-xs ">3D</button>
    <button type="button" id="Xtoggle" class="btn mode-btn btn-xs ">X</button>
    <button type="button" id="Ytoggle" class="btn mode-btn btn-xs ">Y</button>
    <button type="button" id="Ztoggle" class="btn mode-btn btn-xs ">Z</button>
  </div>


  <!--
  <select id="layerSelector">
    <option value="Layer1">Layer1</option>
    <option value="Layer2">Layer2</option>
    <option value="Layer3">Layer3</option>
  </select>
  -->


  <div id="swipeDiv"
       style="display:inline-block;
	      margin-left:10px;">
    Swipe:
    
    <select id="swipeSelector">
      <option value="Layer1">Horizontal</option>
      <option value="Layer2">Vertical</option>
    </select>
  </div>
  
  
  <div style="float:right;margin-right:10px">
    <input type="checkbox"
	   id="overlayCheckbox">
    Overlay
  </div>
</div>


<!-- CANVAS -->
<canvas id= <%= canvasViewerId %>
	class="viewerCanvas"
	width="650"
	height="162">
</canvas>



