<!-- TOPBAR -->
<div id="topbar" class="topbar">

  <div class="btn-group">
    <button type="button" id="ThreeDtoggle" class="btn btn-default btn-xs ">3D</button>
    <button type="button" id="Xtoggle" class="btn btn-default btn-xs ">X</button>
    <button type="button" id="Ytoggle" class="btn btn-default btn-xs ">Y</button>
    <button type="button" id="Ztoggle" class="btn btn-default btn-xs ">Z</button>
  </div>

  <div style="float:right;margin-right:10px">
    <input type="checkbox" id="volumeRender">
    </input>
    Volume Rendering
  </div>

</div>


<!-- CANVAS -->
<canvas id= <%= canvasViewerId %>
	style="background-color: #000;
	       width: 100%; 
	       height: 85%;
	       float: left;">
</canvas>



