<div id= <%= title %>
     style="background-color: #FFF; 
	    width: 40%; 
	    height: 44%; 
	    margin: 5px;
	    border: 5px;
	    float: left;" >


  <div id="topbar"
       style="background-color: #DDD; 
	      width: 100%;">


    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs ">3D</button>
      <button type="button" class="btn btn-default btn-xs ">X</button>
      <button type="button" class="btn btn-default btn-xs ">Y</button>
      <button type="button" class="btn btn-default btn-xs ">Z</button>
    </div>

    
    <div class="btn-group">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
	Layer <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
            <li><a href="#">Layer1</a></li>
            <li><a href="#">Layer2</a></li>
            <li><a href="#">Layer3</a></li>
      </ul>
    </div>
  </div>

  <div id= <%= container %>
       style="background-color: #000;
	      width: 100%; 
	      height: 95%;">    
  </div>


</div>
