<!-- TOPBAR -->
<div id="topbar" class="topbar">

  <div class="btn-group">
    <button type="button" id="3Dtoggle" class="btn btn-default btn-xs ">3D</button>
    <button type="button" id="Xtoggle" class="btn btn-default btn-xs ">X</button>
    <button type="button" id="Ytoggle" class="btn btn-default btn-xs ">Y</button>
    <button type="button" id="Ztoggle" class="btn btn-default btn-xs ">Z</button>
  </div>


  <select id="layerSelector">
    <option value="Layer1">Layer1</option>
    <option value="Layer2">Layer2</option>
    <option value="Layer3">Layer3</option>
  </select>
  
  <div style="float:right;margin-right:10px">
    <input type="checkbox"
	   id= <%= overlay %>>
    Overlay
  </div>
</div>


<!-- CANVAS -->
<canvas id= <%= canvasViewerId %>
	class="viewerCanvas"
	width="650"
	height="162">
</canvas>



