<!-- TOPBAR -->
<div id= <%= topbarId %> class="topbar">

  <div class="btn-group">
    <button type="button" id="ThreeDtoggle" class="btn mode-btn btn-xs ">3D</button>
    <button type="button" id="Xtoggle" class="btn mode-btn btn-xs ">X</button>
    <button type="button" id="Ytoggle" class="btn mode-btn btn-xs ">Y</button>
    <button type="button" id="Ztoggle" class="btn mode-btn btn-xs ">Z</button>
  </div>

  <div style="float:right;margin-right:10px">
    <input type="checkbox" id="volumeRender">
    </input>
    Volume Rendering
  </div>

</div>


<!-- CANVAS -->
<canvas id= <%= canvasViewerId %>
	class="viewerCanvas"
	width="650"
	height="162"
	tabindex= "1">
</canvas>



