<!-- TOPBAR -->
<div id= <%= topbarId %> class="topbar">

  <div class="btn-group" id="toggleButtonGroup">
    <button type="button" 
	    id="ThreeDtoggle" 
	    title="Set 3D Camera"
	    data-container="body"
	    class="btn mode-btn btn-xs ">3D</button>

    <button type="button" 
	    id="Xtoggle" 
	    title="Set X Camera"
	    data-container="body"
	    class="btn mode-btn btn-xs ">X</button>

    <button type="button" 
	    id="Ytoggle"
	    title="Set Y Camera"
	    data-container="body"
	    class="btn mode-btn btn-xs ">Y</button>

    <button type="button" 
	    id="Ztoggle" 
	    title="Set Z Camera"
	    data-container="body"
	    class="btn mode-btn btn-xs ">Z</button>
  </div>


  <!--
  <select id="layerSelector">
    <option value="Layer1">Layer1</option>
    <option value="Layer2">Layer2</option>
    <option value="Layer3">Layer3</option>
  </select>
  -->



  <div class="btn-group" id="playButtonGroup" style="margin-left:10px">    
    <button type="button"
	    class="btn btn-default btn-sm"
            id="fastBackwardButton"
	    data-toggle="tooltip"	    
	    data-container="body"
	    title="Delete this Layer"
	    style="padding-top:2px;
		   padding-bottom:2px;
		   padding-left:5px;
		   padding-right:5px">
      <span class="glyphicon glyphicon-fast-backward play-button"></span>
    </button>
    <button type="button"
	    class="btn btn-default btn-sm"
            id="playbackButton"
	    data-toggle="tooltip"
	    data-container="body"
	    title="Load a Volume File"
	    style="padding-top:2px;
		   padding-bottom:2px;
		   padding-left:5px;
		   padding-right:5px">

      <span class="glyphicon play-button">◀</span>
       
    </button>
    <button type="button"
	    class="btn btn-default btn-sm layer-selected"
            id="stopButton"
	    data-toggle="tooltip"	    
	    data-container="body"
	    title="Delete this Layer"
	    style="padding-top:2px;
		   padding-bottom:2px;
		   padding-left:5px;
		   padding-right:5px">
      <span class="glyphicon glyphicon-stop play-button"></span>
    </button>
    <button type="button"
	    class="btn btn-default btn-sm"
            id="playButton"
	    data-toggle="tooltip"	    
	    data-container="body"
	    title="Delete this Layer"
	    style="padding-top:2px;
		   padding-bottom:2px;
		   padding-left:5px;
		   padding-right:5px">

      <span class="glyphicon glyphicon-play play-button"></span>
    </button>
    <button type="button"
	    class="btn btn-default btn-sm"
            id="fastForwardButton"
	    data-toggle="tooltip"	    
	    data-container="body"
	    title="Delete this Layer"
	    style="padding-top:2px;
		   padding-bottom:2px;
		   padding-left:5px;
		   padding-right:5px">
      <span class="glyphicon glyphicon-fast-forward play-button"></span>
    </button>
  </div>



  
  
  <div style="float:right;margin-right:10px" id="overlayGroup">
    <input type="checkbox"
	   id="overlayCheckbox"
	   title="Toggle Information Overlay">
    </input>
    <span id="overlayToggleText">
      Overlay
    </span>
  </div>
</div>


<!-- CANVAS -->
<canvas id= <%= canvasViewerId %>
	class="viewerCanvas"
	width="650"
	height="162"
	tabindex= "1">
</canvas>



