<div class="panel panel-default"
     style="width: 90%;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top:20px;">


  <div class="panel-footer">
    <ul class="list-group" id="labelmapPanel">


      <p>

	<span class="subMenuHeader">
	  Labelmap File
	</span>
	
	<li class = "list-group-item sublayer" style="padding-bottom: 12px">
	  <div id="labelmapFileContainer">
	    
	    <span id="textHolder" title="Labelmap Filename">
	      No File Selected
	    </span>
	    
	    <div class="btn-group" style="float:right">
	      
	      <!-- LOAD BUTTON -->
	      <button type="button"
		      title="Open A Labelmap File"
		      class="btn btn-default btn-sm"
		      id="loadLabelmapFile">
		<span class="glyphicon glyphicon-floppy-open"> </span>
	      </button>
	      
	      <input type="file"
		     id="labelmapPicker"></input>
	      
	      <!-- DELETE BUTTON -->
	      <button type="button"
		      title="Remove Labelmap File"
		      class="btn btn-default btn-sm"
		      id="delete">
		<span class="glyphicon glyphicon-trash"></span>
	      </button>
	    </div>
	    
	  </div>
	</li>
      </p>


      <p>

	<span class="subMenuHeader">
	  Opacity
	</span>
	
	<div id="labelmapSliderContainer">

	  <input type="number"
		 id="labelmapOpacityInput"
		 style="width:45px; 
			display:inline-block;"
		 value="100"
		 min="0"
		 max="100"
		 title="Set Labelmap Opacity">
	  </input>

	  <div style="width:5px;
		      display:inline-block"></div>

	  <div id="labelmapOpacitySlider"
	       style="display:inline-block; 
		      width: 75%;
		      margin-left:auto;
		      margin-right:auto;">
	  </div>
	</div>
      </p>

      <p>
	
	<span class="subMenuHeader">
	  Lookup
	</span>
	
	
	<select id="labelmapLookupSelector" style="float:right"
		title="Select A ColorLookup Table">
	  <option value="Lookup_None">None</option>
	  <option value="Lookup_IDs" selected="selected">IDs</option>
	  <option value="Lookup_JET">Heatmap (JET)</option>
	</select>
	
	
      </p>

      
    </ul>
  </div>

</div>

