<li class="list-group-item sublayer">
  <input type="file"
	 id="filePicker"></input>
  <span id="textHolder" title="BLAAAH">
    <%= layer_title %>
  </span>

  <div class="btn-group" style="float:right" id="testingWithTooltip">
    <button type="button"
	    class="btn btn-default btn-sm"
            id="loadFile"
	    data-toggle="tooltip"
	    title="Load a Volume File">
      <span class="glyphicon glyphicon-floppy-open"> </span>
    </button>
    <button type="button"
	    class="btn btn-default btn-sm"
            id="delete"
	    data-toggle="tooltip"
	    title="Delete this Layer">
      <span class="glyphicon glyphicon-trash"></span>
    </button>

    <!--
    <div class="btn-group">
      <button type="button"
	      class="btn btn-default dropdown-toggle"
	      data-toggle="dropdown"
	      style="padding-top:9px; padding-bottom:9px">
	<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
	<li><a href="#" id="addLabelMap">Add Labelmap</a></li>
	<li><a href="#" id="addLabelMapWColTable">Add Labelmap with ColorTable</a></li>
	<li class="divider"></li>
	<li><a href="#">Separated link</a></li>
      </ul>
    </div>
    -->
  </div>
</li>


