<div class="panel panel-default sidePanelComponent">
  <div id="layers" class="panel-body">
    <span class="menuHeader">
      Layers
    </span>



    <button type="button"
            class="btn btn-default btn-sm"
            id="add" style="float:right">
      <span class="glyphicon glyphicon-plus">
      </span>
    </button>

    <div class="btn-group" style="margin-right:20px; float: right">
      <button type="button" id="bufferA" class="btn btn-sm mode-btn textBold layer-selected">A</button>
      <button type="button" id="bufferB" class="btn btn-sm mode-btn textBold">B</button>
    </div>
    
  </div>

  <div class="panel-footer" style="height:163px">
    <ul class="list-group" id="layerList"></ul>
  </div>

</div>




