<div class="panel panel-default"
     style="width: 90%;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top:20px;">
  <div id="layers" class="panel-body">
    <span class="menuHeader">
      Levels
    </span>
    
  </div>

  <div class="panel-footer">
    <ul class="list-group" id="levelsPanel">


    <p>

	<span class="subMenuHeader">
	  Indeces
	</span>
	
	<div id="sliderContainer">

	  X:
	  <input type="number"
		 id="indexX"
		 style="width:45px; 
			display:inline-block;"
		 value="0">
	  </input>

	  <div style="width:5px;
		      display:inline-block"></div>

	  Y:
	  <input type="number"
		 id="indexY"
		 style="width:45px; 
			display:inline-block;"
		 value="0">
	  </input>

	  <div style="width:5px;
		      display:inline-block"></div>

	  Z:
	  <input type="number"
		 id="indexZ"
		 style="width:45px; 
			display:inline-block;"
		 value="0">
	  </input>


	</div>
      </p>


      <p>
	<span class="subMenuHeader">
	  Window/Level
	</span>

	<div id="sliderContainer">
	  <input type="number"
		 id="levelLow"
		 style="width:45px; 
			display:inline-block;"
		 value="0">
	  </input>
	  <div style="width:5px;
		      display:inline-block"></div>

	  
	  <div id="rangeSlider1"
	       style="display:inline-block; 
		      width: 58%;
		      margin-left:auto;
		      margin-right:auto;">
	  </div>
	  <input type="number"
		 id="levelHigh"
		 style="width:45px;
			display:inline-block;
			float: right;"
		 value="100">
	  </input>
	</div>
      </p>


      <p>

	<span class="subMenuHeader">
	  Threshold
	</span>
	
	<div id="sliderContainer">
	  <input type="number"
		 id="thresholdLow"
		 style="width:45px; 
			display:inline-block;"
		 value="0">
	  </input>
	  <div style="width:5px;
		      display:inline-block"></div>

	  
	  <div id="rangeSlider2"
	       style="display:inline-block; 
		      width: 58%;
		      margin-left:auto;
		      margin-right:auto;">
	  </div>
	  <input type="number"
		 id="thresholdHigh"
		 style="width:45px;
			display:inline-block;
			float: right;"
		 value="100">
	  </input>
	</div>
      </p>

      <p>

	<span class="subMenuHeader">
	  Opacity
	</span>
	
	<div id="sliderContainer">

	  <input type="number"
		 id="opacityInput"
		 style="width:45px; 
			display:inline-block;"
		 value="100"
		 min="0"
		 max="100">
	  </input>

	  <div style="width:5px;
		      display:inline-block"></div>

	  <div id="opacitySlider"
	       style="display:inline-block; 
		      width: 75%;
		      margin-left:auto;
		      margin-right:auto;">
	  </div>
	</div>
      </p>

      <p>

	<span class="subMenuHeader">
	  Lookup
	</span>
	
	
	<select id="lookupSelector" style="float:right">
	  <option value="Lookup_None">None</option>
	  <option value="Lookup_IDs">IDs</option>
	  <option value="Lookup_JET">Heatmap (JET)</option>
	</select>
	
	
      </p>


      <p>

	<span class="subMenuHeader">
	  Annotation Map
	</span>
	
	<input type="file" name="xmlInput" id="xmlInput">
	
	
      </p>
      
    </ul>
  </div>

</div>

