<nav class="navbar navbar-inverse"
     role="navigation"
     style="border-radius:0">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">ScanView</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">



	    <li>
	      <a href="tutorial.html">Tutorials</a>
	    </li>

	    <li>
	      <a href="sampleData.html">Sample Data</a>
	    </li>


	    <li>
	      <a href="about.html">About</a>
	    </li>

	    <li>
	      <a href="survey.html">Survey</a>
	    </li>


      </ul>

      <div class="btn-group" style="float:right">
	<button type="button" 
		id="layoutButton1" 
		class=" layout-btn layout-selected"
		title="Change Layout"
		data-toggle="tooltip" 
		data-placement="bottom" >
	  <img src="../Design/layout1b.png" 
	       width="42" 
	       height="42">
	</button>

	<button type="button" 
		id="layoutButton2" 
		class="layout-btn layout-unselected"		
		title="Change Layout"
		data-toggle="tooltip" 
		data-placement="bottom" >
	  <img src="../Design/layout2b.png" 
	       width="42" 
	       height="42">
	</button>

	<button type="button" 
		id="layoutButton3" 
		class="layout-btn
		       layout-unselected"		
		title="Change Layout"
		data-toggle="tooltip" 
		data-placement="bottom">
	  <img src="../Design/layout3b.png" 
	       width="42"
	       height="42">
	</button>

	<button type="button" 
		id="layoutButton4" 
		class=" layout-btn layout-unselected"		
		title="Change Layout"
		data-toggle="tooltip" 
		data-placement="bottom">
	  <img src="../Design/layout4b.png" 
	       width="42" 
	       height="42">
	</button>

      </div>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
