<nav class="navbar navbar-inverse"
     role="navigation"
     style="border-radius:0">

  <div class="container-fluid"
       style="padding-left:0px">
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"
	  style="padding-top:12px">


	    <li>
	      <a href="index.html" 
		 style="display:inline;
			margin-left: -10px;
			margin-right: -5px;
			padding-top: 10px;
			color:#FFF"
		 class="navbarHeader">ScanView</a>
	    </li>



	    <li>
	      <a href="tutorial.html" style="display:inline">Tutorials</a>
	    </li>

	    <li>
	      <a href="sampleData.html" style="display:inline" >Sample Data</a>
	    </li>


	    <li>
	      <a href="about.html" style="display:inline">About</a>
	    </li>

	    <li>
	      <a href="survey.html" style="display:inline" >Survey</a>
	    </li>



      </ul>

      <div class="btn-group" style="float:right">
	<button type="button" 
		id="layoutButton1" 
		class=" layout-btn layout-selected"
		title="Change Layout"
		data-toggle="tooltip" 
		data-placement="bottom" >
	  <img src="../Design/layout1b.png" 
	       width="42" 
	       height="42">
	</button>

	<button type="button" 
		id="layoutButton2" 
		class="layout-btn layout-unselected"		
		title="Change Layout"
		data-toggle="tooltip" 
		data-placement="bottom" >
	  <img src="../Design/layout2b.png" 
	       width="42" 
	       height="42">
	</button>

	<button type="button" 
		id="layoutButton3" 
		class="layout-btn
		       layout-unselected"		
		title="Change Layout"
		data-toggle="tooltip" 
		data-placement="bottom">
	  <img src="../Design/layout3b.png" 
	       width="42"
	       height="42">
	</button>

	<button type="button" 
		id="layoutButton4" 
		class=" layout-btn layout-unselected"		
		title="Change Layout"
		data-toggle="tooltip" 
		data-placement="bottom">
	  <img src="../Design/layout4b.png" 
	       width="42" 
	       height="42">
	</button>

      </div>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
