<div id='layersTab'></div>
<div id='bufferTab'></div>

<div id="tabs" class="sidePanelComponent">
  <ul>
    <li>
      <a href="#tabs-1">
	<span class="menuHeader">
	  Levels
	</span>
    </a>
    </li>
    
    <li>
      <a href="#tabs-2">
	<span class="menuHeader">
	  Annotations
	</span>
    </a>
    </li>    

    <li>
      <a href="#tabs-3">
	<span class="menuHeader">
	  Labelmap
	</span>
      </a>
    </li>
  </ul>


  <div id="tabs-1" style="padding: 0;
			  font-family: sans-serif;
			  font-size: small">
    <div id='levelsTab'></div>
  </div>

  <div id="tabs-2" style="padding: 0;
			  font-family: sans-serif;
			  font-size: small">
    <div id='annotationTab'></div>
  </div>

  <div id="tabs-3" style="padding: 0;
			  font-family: sans-serif;
			  font-size: small">
    <div id='labelmapTab'></div>
  </div>

</div>

<div id='sliceIndexTab'></div>

