html, body { 
    background-color:#BBB;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden !important;  
}
.layer-selected{
    background-color:#88F;
}
.layer-unselected{
    background-color:#FFF;
}
.layer-selected:hover{ 
    background-color:#66F;
}
.layer-unselected:hover{ 
    background-color:#AAF;
}
