html, body { 
    background-color:#BBB;
    /*margin: 0;
    padding: 0;
    height: 100%;*/
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
    
    overflow: hidden !important
}
.tutorialScroll{ 
    overflow: visible !important
}


.beta{
    font-size: 10px;
    /*line-height: 1.42857;*/
}

.layer-selected{
    background-color:#88F;
}
.layer{
    background-color:#FFF;
}
.layer-selected:hover{
    background-color:#66F;
}
.layer:hover{
    background-color:#AAF;
}
.mode-btn{
    border-color:#AAA;
}
.play-button{
    padding-bottom:5px;
}


.layout-selected{
    background-color:#88F;
}
.layout-unselected{
    background-color:#000;
}
.layout-selected:hover{
    background-color:#66F;
}
.layout-unselected:hover{
    background-color:#AAF;
}

.navbarHeader{
    /*background-color:#000;*/
    color:#FFF;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.layout-btn{
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 2px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -moz-user-select: none;
    /*background-color: #000;*/

}
.canvasPanel{
    background-color: #000; 
    /*min-width: 300px;*/
    margin: 4px;
    border-style:groove;
    border-width:5px;
    border-color:#DDD;
}
.canvasPanel:hover{
    border-color:#88F;
}
#panel0{
    float: left;
}
#panel1{
    float: left;
}
#panel2{
    float: left;
}
#panel3{
    float: left;
}
.vidlink{
    border: 2px;
    border-color:#00F;
    padding: 2px;
    border-spacing:2px;
    border-collapse:separate;



}
.menuHeader{
    /*font-weight:bold;*/
    text-decoration: underline;
    /*font-size:medium;*/
    font-family:sans-serif;
}
.sampleTextHeader{
    font-weight:bold;
    text-decoration: underline;
    font-size:medium;
    font-family:sans-serif;
}
.sampleText{

    margin-top:2%;
    margin-left:20%;
    margin-right:20%;
    padding:25px;    
    background-color: #FFF;
}
.sampleText2{

    margin-left: 3%;
    margin-right: 3%;
    padding:15px;
    width: 43%;    
    background-color: #DDD;
}
.logo{   
    background-color: #DDD;
}


.subMenuHeader{
    font-weight:bold;
    font-size:small;
}
.topbar{
    background-color: #DDD;
    border-style:outset;
    border-width:2px;
    /*height: 27px;
    min-height:27px;*/
    min-width: 280px;
}
#navbar{
    margin-bottom: 0px;
    height: 50px;
    background-color: #222;
}
#sidePanel{
    background-color: #999; 
    width: 350px; 
    height: 90%;
    float: left;
    float: up;
}
.sidePanelComponent{
    width: 95%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    padding-bottom:0px;
}
#viewerWindow{
    background-color: #BBB;
    padding-top: 5px;
    float: right;
    float: up;
    min-width: 60%;
}
.annoButton{
    /*width: 24%;*/
    margin-right: auto;
    margin-left: auto;
}


.textBold{
    font-weight:bold
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 0px;
}
.color-box {    
    display: inline-block;
    width:23px;
    height:23px;    
    padding-left: 10px;
    padding-right: 10px;    
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid black;
}
.list-group-item{
    padding-right: 6px;    
    padding-left: 6px;    
    padding-top: 6px;    
    padding-bottom: 6px;
}
.list-group{
    margin-bottom: 0px;
}

.custom-tooltip-styling{
     background-color: #F00;   
}