html, body { 
    background-color:#BBB;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden !important;  
}
.layer-selected{
    background-color:#88F;
}
.layer-unselected{
    background-color:#FFF;
}
.layer-selected:hover{ 
    background-color:#66F;
}
.layer-unselected:hover{ 
    background-color:#AAF;
}
.canvasPanel{
    background-color: #000; 
    width: 700px; 
    height: 200px;
    margin: 4px;
    float: left;
    border-style:groove;
    border-width:5px;
    border-color:#DDD;
}
.canvasPanel:hover{
    border-color:#88F;
}
.menuHeader{
    font-weight:bold;
    text-decoration: underline;
    font-size:medium;
}
.subMenuHeader{
    font-weight:bold;
    font-size:small;
}
.topbar{
    background-color: #DDD;
    border-style:outset;
    border-width:2px;
    width: 100%;
    height: 27px;
    min-height:27px;
}
